Repository effector/receptor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.{ts,tsx,mjs,cjs,js,jsx}": ["prettier --write"],
  "{.prettierrc,.lintstagedrc,.babelrc,.eslintrc}": ["prettier --write --parser json"]
}

Check format on PR push
  .github/workflows/test.yml
  package.json
Due: none

Rename @effector/receptor to effector-receptor
  src/events/README.md
  src/keys/README.md
  src/mouse/README.md
  src/ref/README.md
Due: none

Setup build and deploy CI (#3)
  .babelrc
  .github/release-drafter.yml
  .github/workflows/publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  babel-preset.js
  package.json
  readme.md
  rollup.config.js
  src/date/create-date-store.ts
  src/events/README.md
  src/events/index.ts
  src/hotkey/hotkey.ts
  src/hotkey/index.ts
  src/hotkey/key-sequence.ts
  src/hotkey/validate-hotkey.ts
  src/index.ts
  src/keys/README.md
  src/keys/index.ts
  src/lib/setup.ts
  src/locale/index.ts
  src/locale/navigator-locales-store.ts
  src/media-query/create-breakpoint-mq-store.ts
  src/media-query/create-enum-mq-store.ts
  src/media-query/create-simple-mq-store.ts
  src/mouse/README.md
  src/mouse/index.ts
  src/network/index.ts
  src/ref/README.md
  src/ref/index.ts
  tsconfig.build.json
  tsconfig.json
  yarn.lock
Due: prettier --write, prettier --write --parser json

feat: Support function `filter` for hotkey
  src/hotkey/hotkey.ts
Due: prettier --write

feat: `isFormElementFocused` helper
  src/hotkey/filters.ts
  src/hotkey/index.ts
Due: prettier --write

docs: More docs!
  src/hotkey/README.md
  src/keys/README.md
  src/mouse/README.md
Due: none

feat: Add `isOutsideFormElement` utility
  src/hotkey/README.md
  src/hotkey/filters.ts
  src/hotkey/index.ts
Due: prettier --write

chore: Export start/stop events
  src/index.ts
Due: prettier --write
